[core]
	editor = \"C:\\Users\\jonas\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
[user]
	email = 74347344+Jxn2s1@users.noreply.github.com
	name = Jonas
[safe]
	directory = C:/SWP/Projects/mynotes
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
