div.header label {
font-family: Arial;
font-size: 22px;
font-style: normal;
font-weight: bold;
text-decoration: none;
text-transform: uppercase;
color: #ff1a1a;
background-color: #ffffff;
}

div.text label {
font-family: Arial;
font-size: 22px;
font-style: normal;
font-weight: bold;
text-decoration: none;
text-transform: uppercase;
color: #ff1a1a;
background-color: #ffffff;
}